/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: Roboto, sans-serif;;
}
.banner{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true);
    height: 958px;
    border-bottom: 1px solid #707070;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
}
.title{
    font-weight: bold;
    font-style: italic;
    font-size: 80px;
    line-height: 106px;
    margin-bottom: 32px;
}

.sns-link{
    display: flex;
    justify-content: space-around;
}

.about{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.subtitle{
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    font-style: italic;
}
.text-style{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}
.ex-list{
    width: 384px;
    border-top: 1px solid #000;
    padding-top: 28px;
}

.ex-list li{
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    width: 22px;
    height: 22px;
    background: #891818;
    border-radius: 50%;
    margin-right: 16px;
}

.my-brand{
    text-align: center;
    background: black;
    padding-top: 56px;
    padding-bottom: 160px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.my-brand p{
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 68px;
}
.brand-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.other-works{
    text-align: center;
    margin-bottom: 144px;
    max-width: 1200px;
}
.work-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-img p{
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 28px;
}
.footer{
    padding: 64px 0px;
    background: #000;
    text-align: center;
}

.footer a{
    text-decoration: none;
}

.text-white{
    color: white;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-56{
    margin-bottom: 56px;
}
.lh-32{
    line-height: 32px;
}
.lh-36{
    line-height: 36px;
}
.d-block{
    display: block;
}
.mx-auto{
    margin: 0 auto;
}